.recipe {
  &__body {
    h3 {
      display: inline-flex;
    }

    table {
      border: 1px solid #000;
      margin-bottom: 2rem;
    }

    thead {
      border: 1px solid #000;
    }

    td,
    th {
      border: 1px solid #000;
      padding: 0.5rem 1rem;
    }
  }

  &__cook-time {
  }

  &__description {
    border-left: 5px solid black;
    margin: 1rem 0;
    padding: 0.5rem 0 0.5rem 0.5rem;

    @media screen and (max-width: 600px) {
      font-size: 0.8rem;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 600px) {
      flex-direction: row;

      > * {
        flex: 1 0 0;
      }

      > *:first-child {
        margin-right: 1rem;
      }
    }
  }

  &__img {
    margin-bottom: 1rem;

    @media screen and (max-width: 600px) {
      margin-bottom: 0;
    }
  }

  &__prep-time {
    margin-bottom: 0.25em;
  }

  &__servings {
    margin-bottom: 1rem;
  }

  &__tags {
    &-list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;

      li {
        margin-bottom: 0;
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__times {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1rem;

    @media screen and (max-width: 600px) {
      font-size: 1rem;
    }
  }
}
