.__body {
}
.__cook-time {
}
.__descriptions {
}
.__footer {
}
.__header {
}
.__prep-time {
  margin-bottom: 0.25em;
}
.__servings {
  margin-bottom: 1rem;
}
.__times {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}
