.recipe {
  &--small {
    .recipe {
      &__description {
        font-size: 0.8rem;
      }

      &__header {
        flex-direction: row;

        > * {
          flex: 1 0 0;
        }

        > *:first-child {
          margin-right: 1rem;
        }
      }

      &__img {
        margin-bottom: 0;
      }

      &__title {
        font-size: 1rem;
      }
    }
  }

  &__body {
    h3 {
      border-bottom: 1px solid black;
      display: inline-flex;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    ul {
      margin-bottom: 1rem;

      li {
        margin-bottom: 0.5rem;
      }
    }

    ol {
      list-style-type: decimal;
      margin-left: 1.5rem;

      li {
        margin-bottom: 1rem;
      }
    }
  }

  &__cook-time {
  }

  &__description {
    border-left: 5px solid black;
    margin: 1rem 0;
    padding: 0.5rem 0 0.5rem 0.5rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__img {
    margin-bottom: 1rem;
  }

  &__prep-time {
    margin-bottom: 0.25em;
  }

  &__servings {
    margin-bottom: 1rem;
  }

  &__tags {
    &-list {
      display: flex;
      flex-wrap: wrap;

      li {
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &-title {
      border-bottom: 1px solid black;
      display: inline-flex;
      margin-bottom: 1rem;
    }
  }

  &__times {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1rem;
  }
}
