@import './mixins.scss';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Permanent+Marker&display=optional');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
}

ol,
ul {
  list-style: none;
}
